html {
  height: 100%;
  background-repeat: no-repeat;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

h1 {
  font-family: "Shadows Into Light Two", cursive;
  color: #000000;
  text-align: center;
  padding: 5px;
  margin: 30px;
}

h2,
h3 {
  color: lightblue;
  margin-bottom: 0;
  font-size: 25px;
  padding: 5px;
}

h4,
h5 {
  color: lightblue;
  font-weight: bold;
}

form {
  text-align: center;
  padding: 25px auto;
  margin: 20px;
}

ul {
  color: lightblue;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-transform: capitalize;
  list-style: none;
}
p {
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin: 0 auto;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 10px;
  min-width: 525px;
}

.topbox {
  max-width: 900px;
  border: solid;
  padding: 10px;
  margin: 10px;
  background: #ffffff;
}

.col {
  max-width: 150px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
}

.current-weather {
  padding: 10px;
  margin-right: 20px;
  display: inline-block;
}

.temperature {
  font-size: 60px;
  display: inline-block;
}
.units {
  display: inline-block;
  margin: top;
  font-size: x-small;
  padding: 0px;
}

.status {
  display: block;
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
}
.fiveday {
  display: block;
  border: solid;
  margin: 0 auto;
  padding: 20px;
  background: #ffffff;
}
.weather-forecast {
  color: lightblue;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
